<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Node JS Crud Front end </title>
</head>
<body>
  <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
    <div class="overflow-x-auto sm:-mx-3 lg:-mx-3">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Display Data From API</h1>
          <table class="table-auto hover:border-spacing-2 min-w-full">
            <thead class="border-b bg-green-500  px-5 py-3 text-gray-100">
              <tr>
                <th scope="col" class=" border border-slate-600 text-sm font-medium  px-6 py-4 text-left">
                  ID
                </th>
                <th scope="col" class="border border-slate-600 text-sm font-medium 0 px-6 py-4 text-left">
                 Name
                </th>
                <th scope="col" class="border border-slate-600 text-sm font-medium  px-6 py-4 text-left">
                  Age
                </th>
                <th scope="col" class="border border-slate-600 text-sm font-medium  px-6 py-4 text-left">
                 Addres
                </th>
                <th scope="col" class="border border-slate-600 text-sm font-medium  px-6 py-4 text-left">
                  Delete
                 </th>
              </tr>
            </thead>
            <tbody id="data">
              <tr class="border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
   
</body>
<script src ='../app.js'>
</script>
</html>